PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?appName=medhikaadmin
RAZORPAY_KEY_ID=rzp_test_PASTE_YOUR_KEY_ID_HERE
RAZORPAY_KEY_SECRET=PASTE_YOUR_KEY_SECRET_HERE

# Security OTP Email Transporter Configurations (Gmail App Password is recommended)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password

# Optional: Set these if using custom non-Gmail SMTP host
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_SECURE=false
